<!doctype html>
<html lang="en">
<head th:insert="blocks/head :: head">
    <title>Car accidents</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container mt-4">
        <div class="card my-4 text-center">
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 25%;">Id</th>
                    <th style="width: 25%;">Title</th>
                    <th style="width: 25%;">Description</th>
                    <th style="width: 25%;">Address</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="accident: ${accidents}">
                    <td th:text="${accident.id}" style="max-width: 100px"></td>
                    <td style="max-width: 100px">
                        <a th:text="${accident.name} "
                           th:href="@{edit/{accidentId}(accidentId=${accident.id})}"> </a>
                    </td>
                    <td th:text="${accident.text}" style="max-width: 100px"></td>
                    <td th:text="${accident.address}" style="max-width: 100px"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2">
            <a class="btn btn-secondary w-100" th:href="@{/create}">+ Add accident</a>
        </div>
    </div>
</div>
</body>
<footer th:insert="blocks/footer :: footer"></footer>
</html>